<ng-container *ngIf="_sprint; else noSprint">
  <p-splitter styleClass="m-5">
    <ng-template pTemplate>
      <div
        class="col flex flex-column align-items-center justify-content-start gap-3"
        pDroppable="task"
        (onDrop)="drop($event)"
        aria-placeholder="ToDo"
      >
        <h3>To do</h3>
        <p-divider></p-divider>

        <app-task
          *ngFor="let task of tasks.ToDo"
          [task]="task"
          (taskUpdated)="updateSprint.emit()"
          pDraggable="task"
          (onDragStart)="dragStart(task)"
          (onDragEnd)="dragEnd($event)"
        ></app-task>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div
        class="col flex flex-column align-items-center justify-content-start"
        pDroppable="task"
        (onDrop)="drop($event)"
        aria-placeholder="InProgress"
      >
        <h3>In Progress</h3>
        <p-divider></p-divider>

        <app-task
          *ngFor="let task of tasks.InProgress"
          [task]="task"
          (taskUpdated)="updateSprint.emit()"
          pDraggable="task"
          (onDragStart)="dragStart(task)"
          (onDragEnd)="dragEnd($event)"
        ></app-task>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div
        class="col flex flex-column align-items-center justify-content-start"
        aria-placeholder="InReview"
        pDroppable="task"
        (onDrop)="drop($event)"
      >
        <h3>In Review</h3>
        <p-divider></p-divider>

        <app-task
          *ngFor="let task of tasks.InReview"
          [task]="task"
          (taskUpdated)="updateSprint.emit()"
          pDraggable="task"
          (onDragStart)="dragStart(task)"
          (onDragEnd)="dragEnd($event)"
        ></app-task>
      </div>
    </ng-template>
    <ng-template pTemplate>
      <div
        class="col flex flex-column align-items-center justify-content-start"
        aria-placeholder="Finished"
        pDroppable="task"
        (onDrop)="drop($event)"
      >
        <h3>Finished</h3>
        <p-divider></p-divider>

        <app-task
          *ngFor="let task of tasks.Finished"
          [task]="task"
          (taskUpdated)="updateSprint.emit()"
          pDraggable="task"
          (onDragStart)="dragStart(task)"
          (onDragEnd)="dragEnd($event)"
        ></app-task>
      </div>
    </ng-template>
  </p-splitter>
  <p-button icon="pi pi-plus" (onClick)="createTask()"></p-button>
</ng-container>

<ng-template #noSprint><h2>Select a sprint to start!</h2> </ng-template>
